<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}"
      layout:decorator="layouts/dashboard">
<head>
  <meta charset="UTF-8">
  <title>Nurse</title>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Nurse</h3>
        <p class="text-subtitle text-muted"></p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class='breadcrumb-header'>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nurse</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header">Nurse Datatable</div>
      <div class="card-body">
        <table class="table mb-0">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="inf: ${infList}">
            <td th:text="${inf.full_name}"></td>
            <td th:text="${inf.tele}"></td>
            <td ><span th:text="${inf.etat}" th:class="${inf.etat == 'active'} ? 'badge bg-success' : 'badge bg-danger'"></span></td>
            <td>
              <a th:href="@{/infCall/{id}(id=${inf.id_infirmier})}" class="btn btn-success round">Call</a>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </section>


</div>

</body>
</html>