<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Voler Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <style></style>
</head>

<body>
<div id="auth">

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img th:src="@{/images/favicon.svg}" height="48" class='mb-4'>
                            <h3>Sign In</h3>
                            <p>Please sign in to continue to Voler.</p>
                        </div>
                        <form th:action="@{/test}" method="post">
                            <div th:if="${param.error}" class="alert alert-error" style=" display: flex; justify-content: center; color: red;">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success" style=" display: flex; justify-content: center; color: black;">
                                You have been logged out.
                            </div>
                            <div class="form-group position-relative has-icon-left">
                                <label for="username">Username</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="username" name="username">
                                    <div class="form-control-icon">
                                        <i data-feather="user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left">
                                <div class="clearfix">
                                    <label for="password">Password</label>
                                </div>
                                <div class="position-relative">
                                    <input type="password" class="form-control" id="password" name="password">
                                    <div class="form-control-icon">
                                        <i data-feather="lock"></i>
                                    </div>
                                </div>
                                <a th:href="@{/forgot}" class='float-end' id="forgot">
                                    <small>Forgot password?</small>
                                </a>
                            </div>
                            <br><br>
                            <div class="clearfix">
                                <button class="btn btn-primary float-end" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script>
    // Récupération du bouton de déconnexion
    const logoutButton = document.getElementById('forgot');

    // Ajout d'un gestionnaire d'événements pour le clic sur le bouton de déconnexion
    logoutButton.addEventListener('click', function() {
        // Affichage de la boîte de dialogue avec les options "OK" et "Annuler"
        if (window.confirm('Êtes-vous sûr(e) que vous avez oublié votre password ?')) {
            // Code à exécuter si l'utilisateur clique sur "OK"
            // Par exemple, redirection vers la page de connexion
            window.location.href = 'forgot.html';
        }
    });

</script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>
